* {
  box-sizing: border-box;
}

body {
  background: url('hoverw.jpg');
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.head{
  margin-top: -620px;
  font-size: 100px;
  display: block;
  position: relative;
  padding: 0 auto;
}

.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  background-color: #1a1a1a;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
